<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807764475515-uvternvgu95eh50m3nf6rf6k92oimuvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807764475515-uvternvgu95eh50m3nf6rf6k92oimuvp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807764475515-ktta30cjnsvend9u5cevkrgh3tkug7be.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_PQYrZtJJ85nOjyxGbnhz-AEZRe3Qpis</string>
	<key>GCM_SENDER_ID</key>
	<string>807764475515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.implantcompare.implantcompare</string>
	<key>PROJECT_ID</key>
	<string>implant-compare</string>
	<key>STORAGE_BUCKET</key>
	<string>implant-compare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:807764475515:ios:fb36bfab28c4d94c</string>
	<key>DATABASE_URL</key>
	<string>https://implant-compare.firebaseio.com</string>
</dict>
</plist>